# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# -----------------------------
# Python
# -----------------------------
backend/venv/
venv/
__pycache__/
*.pyc

# -----------------------------
# Environment Variables
# -----------------------------
.env
backend/.env

# -----------------------------
# Backend Uploads
# -----------------------------
backend/uploads/

# -----------------------------
# Vector Database
# -----------------------------
backend/chroma_db/

# -----------------------------
# Python Logs
# -----------------------------
*.log

# Knowledgebase uploads
backend/knowledge_uploads/

# Student documents
backend/student_documents/

# Frontend environment
frontend/.env
